body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.text-white {
  color: yellow;
}
.text-white2 {
  color: black;
}
.flexible-container{
  display: flex;
  padding: 7%;
}

.half-width {
  width: 50%;
}

img {
  width: 70%;
  border-radius: 45%;
}

.link {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(blueviolet, blue);
  color: white;
  font-weight: 600;
}
.top-banner{
  background-image: url(image/wave.svg);
  background-repeat: no-repeat;
}
.top-banner{
  background-image: url(image/wave.svg);
  background-repeat: no-repeat;
}

.footer1{
  text-align: center;
  padding:0 20%;
}

.parent{
  display: flex;
  padding: 0 10%;
}

.child{
  box-shadow: 10px 5px 30px black;
  margin: 2%;
  padding: 40px;
  border-radius: 0 20px 50px 0;
  border-left: 5px solid;
  border-image: linear-gradient(cyan, blue)0 100% ;
}

footer{
  text-align: center;
  padding: 20px;
}